body {
    background-color: #fcebb6;
    color: #221811;
    font-family: Verdana, Arial, sans-serif;
}

#wrapper {
    width: 960px;
    margin: 0 auto;
}

h1, h2 {
    color: #221811;
    background-color: #d2b48c;
    text-align: center;
}

h1 {
    line-height: 200%;
}


nav {
    text-align: center;
    font-weight: bold;
}

dt{
    font-weight: bold ;
}
footer {
    background-color: #d2b48c;
    font-style: italic;
    text-align: center;
    font-size: .60em;
}