/* Add universal selector (*) and :before and :after pseudo-elements to remove
default margin and padding, and set box-sizing to border-box */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #08c0dd;
    --secondary-color: #262431;
    --tertiary-color: #2f2c3d;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    background: var(--secondary-color);
    color: #fff;
    line-height: 1.6;
    scroll-behavior: smooth;
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.btn {
    padding: 0.5rem 2rem;
    background-color: var(--primary-color);
    border: 2px solid transparent;
    color: #fff;
    font-weight: 600;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--secondary-color);
    border-color: var(--primary-color);
}


/* Navbar */
.navbar {
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
}

.navbar.navbar--scroll {
    background-color: rgba(38, 36, 49, 0.8);
    backdrop-filter: blur(10px);
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo img {
    width: 112px;
    height: 36px;
}

.navbar__menu-list {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 600;
}

.navbar__menu-link:hover, .navbar__mobile-menu-link:hover {
    color: var(--primary-color);
}

/* BEM (block, elements, and modifiers */
/* --primary modifier */
.navbar__menu-link--primary,
.navbar__mobile-menu-link--primary {
    color: var(--primary-color);
}
.navbar__menu-link--primary:hover,
.navbar__mobile-menu-link--primary:hover  {
    color: #fff;
}

/* Mobile Menu */
.navbar__mobile-menu {
    /* We want to hide everything mobile by default */
    display: none;
    cursor: pointer;
}

.navbar__mobile-menu-items {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--secondary-color);
    opacity: 0.95;
    padding: 3rem 2rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease-in-out;
}

.navbar__mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.2rem;
}

/* So now we're gonna move the mobile menu off screen
to the right. So we're gonna use transfrom translate X */


.navbar__mobile-menu-items {
    transform: translateX(100%);
}

/* NOTE: We want JS to active the active class to the HTML dynamically */
.navbar__mobile-menu-items.active {
    transform: translateX(0);
}

/* Hero */
.hero {
    background: #000 url('../images/header-background.jpg') center center/cover no-repeat;
    padding: 11.5rem 2rem 8rem;
}

.hero__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.hero__content {
    max-width: 500px;
}

.hero__title {
    font-size: 3.5rem;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
}

.hero__title--primary {
    color: var(--primary-color);
}

.hero__description {
    margin-top: 1.5rem;
    fornt-size: 1.2rem;
    line-height: 1.6;
}

.hero__image img {
    max-width: 500px;
}

.hero__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

.hero__button {
    padding: 1rem 2rem;
}

.hero__button i {
    margin-right: 0.5rem;
}


/* Media Queries */
@media (max-width: 992px) {
    .hero {
        padding: 10rem;
        text-align: center;
    }

    .hero__container {
        flex-direction: column;
    }

    .hero__title {
        font-size: 2.3rem;
    }

    .hero__buttons {
        flex-direction: column;
        gap: 1rem;
    }

    .hero__button {
        width: 100%;
    }

    .hero__image img {
        max-width: 350px;
    }
}

@media (max-width: 768px) {
    .navbar__menu {
        display: none;
    }

    .navbar__mobile-menu {
        display: block;
    }
}