* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: var(--primary-color);
    --container-normal: 1100px;
    --container-wide: 1400px;
    --container-narrow: 900px;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* bg-primary is called the utility class. YOu can use utility classes anywhere on the site.
It is not made for a specific thing for example the .hero class.
Place utility class up top underneath the based stuff */

/* Utility Classes */
.bg-primary {
    background: #fcf5e9;
}

/* Container */
.container {
    max-width: var(--container-narrow);
    margin: 0 auto;
    padding: 0 1.5rem;
}

.container-lg {
    max-width: var(--container-wide)
}

.container-sm {
    max-width: var(--container-narrow);
}

/* Header */
/* note: align-item is set to stretch by default */

.header {
    margin: 1.5rem auto;
}

.header .logo {
    width: 130px;
}
.header .header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .main-menu {
    display: flex;
    gap: 1rem;
}

.header .main-menu a {
    padding: 0.5rem 1rem;
}

.header .main-menu a:hover {
    background: var(--primary-color);
}

.current {
    background: var(--primary-color);
    font-weight: 600;
}

/* Hero */
.hero {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h2 {
    font-size: 3rem;
    line-height: 1.4;
    font-weight: normal;
}

/* Media Queries */
@media(max-width: 768px) {
    .header .header-flex {
        flex-direction: column;
        gap: 1.5rem;
    }
    .hero {
        height: 300px;
    }

    .hero h2 {
    font-size: 1.8rem;
    }
}


