* {box-sizing: border-box;}

body {background-image: url(gradientblue.jpg);}

#wrapper {background-color: #fff; color: #000066}

header {
    background-color: #000066; 
    color: #fff;
    background: url(bigfish.gif) no-repeat center;
}

#wrapper {
    width: 960px;
    margin: 0 auto;
}


h1, dt {
    color: #003366;
}

h1{
    line-height: 150%;
    font-size: 3em;
    padding: 10px;
    text-shadow: #ccc;
}

nav {
    font-weight: bold;
}

nav ul {
    list-style-type: none;
}

nav a {
    text-decoration: none;
}

nav a:link{color:#3262A3}
nav a:visited{ color:#6699FF}
nav a:hover{ color:#ccc}

main {
    margin-left: 180px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.category {
    font-weight: bold;
    background-color: #fff;
    color:#003366;
    font-size: 1.1em;
}



footer {
    font-size: .70em;
    padding: 10px;
    margin-left: 180px;

}