* {box-sizing: border-box;}

body {background-image: url(gradientblue.jpg);}

#wrapper {background-color: #fff; color: #000066}

header {
    /* background-color: #000066;  */
    color: #fff;
    background: url(bigfish.gif) no-repeat center;
}

#wrapper {
    width: 960px;
    margin: 0 auto;
}


h1, dt {
    color: #003366;
}

h1{
    line-height: 200%;
}

.category {
    font-weight: bold;
    background-color: #6699ff;
    color:#003366;
    font-size: 1.1em;
}

nav {
    font-weight: bold;
}

footer {
    font-size: .70em;
}