.verdana {
    font-family: Verdana;
}

.georgia {
    font-family: Georgia;
}

.tahoma {
    font-family: Tahoma;
}

.comic-sans {
    font-family: "Comic Sans MS";
}

.arial-black {
    font-family: "Arial Black";
}

.impact {
    font-family: Impact;
}