body {
    background-color: #fff;
    color: #666;
    font-family: Verdana, Arial, sans-serif;
}

header {
    background-color: #000033;
    color: #fff;
    font-family: Georgia, serif;
}

h1 {
    line-height: 200%;
}

nav {
    font-weight: bold;
    background-color: #3399cc;
}

h2 {
    color: #3399cc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

dt {
    color: #000033;
    font-weight: bold;
}

.resort {
    color: #000033;
    font-size: 1.2em;
}

footer {
    font-size: .70em;
    font-style: italic;
    text-align: center;
}