* {
    margin: 0;
    padding: 0;
}

.container {
    width: 650px;
    margin: 0 auto;
    border: solid 2px silver;
    font-size: 1.2rem;
}

.navbar {
    background: #17a2b8;
    height: 80px;
    margin-bottom: 50px;
}

.profile-pic {
    width: 100px;
    border: solid 3px #ddd;
    background-color: #fff;
    border-radius: 50%;
    padding: 2px;
    margin: 20px;
}

h1,h3,p {
    margin: 20px;
}

.icon-s {
    height: 20px;
}