.header h1 {
    font-size: 1.5rem;
    text-align: center;
}

.main-menu {
    flex-direction: column;
    text-align: center;
}

.main-menu li {
    border-bottom: 1px solid #ccc;
    padding-bottom: 7px;
}

.main-menu li.last-list-item {
    border: none;
}

.main {
    flex-direction: column-reverse;
}

.main aside {
    width: 100;;
}