body {
    background-color: #f5f5f5;
    color: #3f2860;
}

#wrapper {
    width: 80%;
    margin: 0 auto;
}

header, footer {
    background-color: #9BC1c2;
    text-align: center;
}

dt {
    font-weight: bold;
}

h1 {
    line-height: 200%;
} 

nav {
    text-align: center;
    font-weight: bold;
}

