body { 
    font-family: 'Roboto', sans-serif;
}

.nav {
    display: flex; 
    background-color: #333;
    color: white;
    height: 80px;
    width: 1000px;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    width: 50%;


    
}

.nav a {
    color: white;
    text-decoration: none;
}

.nav-title {
    margin-left: 20px;
}

.btn {
    height: 35px;
    width: 100px;
    background-color: #17a2b8;
    color: white;
    border: none;
    font-size: 16px;
    box-shadow: 4px 4px #000;
}