* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --container-width: 1000px
}

body {
    font-family: 'Arial', sans-serif;
}

.container {
    background: #000;
    width: var(--container-width);
    height: 200;
    display: flex;
}

.item {
    height: 200px;
    width: calc(var(--container-width) / 2);
    background: coral;
}