table {border: 5px solid #000066; border-spacing: 0; margin: auto; width: 600px;}

td, th {
    border: 1px solid #000066;
    padding: 0.5em;
    font-family: Arial, Helvetica, sans-serif;}

caption {   font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
            font-size: 1.2em;
            padding-bottom: 0.5em; }