* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
}


.container {
    max-width: 80%;
    margin: 50px auto;
    padding: 20px;
}